@keyframes load {
  from {
    transform: translate(-50%, -50%) scaleX(-1) rotateZ(0deg);
  }
  to {
    transform: translate(-50%, -50%) scaleX(-1) rotateZ(-180deg);
  }
}
/* .gauge_main {
  top: 70% !important;
} */
.cs-wrapper {
  height: 600px;
  position: relative;
  width: 100vw;
  overflow: hidden;
  input[type="range"]::-moz-range-track {
    height: 100% !important;
    background-color: transparent !important;
  }
  .copy {
    z-index: 1000;
    position: relative;
    width: 100%;
    height: 80%;
    img {
      position: absolute;
    }
  }
  input {
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: #2c3e50;
      cursor: pointer;
      -webkit-transition: background 0.15s ease-in-out;
      transition: background 0.15s ease-in-out;
      &:hover {
        background: #1abc9c;
      }
    }
    &:active {
      &::-webkit-slider-thumb {
        background: #1abc9c;
      }
      &::-moz-range-thumb {
        background: #1abc9c;
      }
    }
    &::-moz-range-thumb {
      width: 30px;
      height: 30px;
      border: 0;
      border-radius: 50%;
      background: #2c3e50;
      cursor: pointer;
      -moz-transition: background 0.15s ease-in-out;
      transition: background 0.15s ease-in-out;
      &:hover {
        background: #1abc9c;
      }
    }
    &:focus {
      &::-webkit-slider-thumb {
        box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c;
      }
    }
    &::-moz-focus-inner {
      border: 0;
    }
    &::-moz-focus-outer {
      border: 0;
    }
  }
  &::-moz-range-track {
    background: #d7dcdf !important;
    border: 0 !important;
    height: 100% !important;
  }
  .cs-range-slider {
    max-width: 80%;
    bottom: 0;
  }
  .text-item {
    p {
      word-wrap: break-word;
    }
  }
  .visible-img {
    display: block !important;
  }
  .img-container {
    img {
      position: absolute;
      z-index: 99;
    }
  }
}
.gauge_main {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
  .white {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    transition: 0.4s;
    position: absolute;
    background-color: black;
    border-radius: 50%;
    z-index: 30;
  }
  .black {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    transition: 0.4s;
    position: absolute;
    background-color: black;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background: linear-gradient(to top, black 50%, rgba(208, 212, 255, 1) 50%);
    box-shadow: 0px 0px 0px 5px white;
    z-index: 25;
    display: none;
  }
  .tick {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    transition: 0.4s;
    z-index: 110;
    transform-origin: 50%;
    background-repeat: no-repeat;
    height: 25px;
    background-position: center;
    z-index: 1001;
    height: auto !important;
    svg {
      width: 100% !important;
      height: 100% !important;
    }
  }
  .gradient {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    transition: 0.4s;
    position: absolute;
    background-color: black;
    border-radius: 50%;
    min-height: 280px;
    min-width: 280px;
    background: linear-gradient(
      0deg,
      rgba(29, 216, 255, 1) 0%,
      rgba(4, 106, 255, 1) 50%,
      rgba(208, 212, 255, 1) 50%
    );
  }
  .chamber {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    transition: 0.4s;
    left: 50%;
    width: 150%;
    height: 5px !important;
    transform-origin: 50% !important;
    z-index: 20 !important;
    margin-top: -4px;
    z-index: 110;
    transform-origin: 50%;
    background-repeat: no-repeat;
    height: 25px;
    background-position: center;
  }
  .meter {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    transition: 0.4s;
    height: 100vw;
    width: 180%;
    border-radius: 50%;
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
    z-index: 1000;
    margin-top: -7px;
  }
}
.cs-range-slider {
  position: absolute;
  bottom: 10%;
  width: 100%;
  transform: translateX(-50%);
  left: 50%;
  z-index: 1001;
  input {
    border-radius: 5px;
    outline: none !important;
    padding: 0 !important;
    height: 15px;
    padding-bottom: 2px !important;
  }
  span {
    display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #2c3e50;
    padding: 5px 10px;
    margin-left: 8px;
    float: left;
    &:after {
      position: absolute;
      top: 8px;
      left: -7px;
      width: 0;
      height: 0;
      border-top: 7px solid transparent;
      border-right: 7px solid #2c3e50;
      border-bottom: 7px solid transparent;
      content: "";
    }
  }
}
.text-container {
  width: 100%;
  padding: 0 15vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  z-index: 999;
}
.text-item {
  position: absolute;
  z-index: 22;
  left: 50%;
  top: 50%;
  width: 100%;
  padding: 0 15vw;
  transform: translate(-50%, -50%);
}
.label-slider {
  position: absolute;
}
.label-slider.label-right {
  bottom: 4em;
  right: 0;
}
.label-slider.label-left {
  bottom: 4em;
  left: 0;
}
@media (max-width: 650px) {
  .gauge_main {
    .white {
      z-index: 30 !important;
      height: 20vw !important;
      width: 20vw !important;
    }
  }
}
